@model UserID

@{
    ViewData["Title"] = "Deleteuserdata";
}

<h1>刪除個人資料</h1>
<hr />
<h3>驗證您的身分......</h3>
<div class="mb-5 row">
    <div class="col-sm-6 col-form-label">
        <div id="webcam"></div>
        <br />
        <div>
            <div style="color:red;" id="message"></div>
        </div>
        <br />
        <input class="btn btn-primary" type="button" id="btnCapture" value="驗證" />

    </div>
</div>
@using (Html.BeginForm("DeleteUserdata", "DeleteUserdata", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div>
        <hr />
        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">* ID</label>
            <div class="col-sm-10">
                @Html.DropDownListFor(
            model => model.ID,
            (IEnumerable<SelectListItem>) ViewBag.Items,
            new { @class="form-select" ,id="inputid",disabled = "disabled"}
            )
                @Html.ValidationMessageFor(model => model.ID, "", new { @class = "text-danger" })
            </div>
        </div>
        <div>
            <div id="message2"style="color:red;">@ViewBag.Message</div>
        </div>
        <form asp-action="Deleteuserdata">
            <input type="submit" value="刪除" class="btn btn-danger" disabled="disabled" id="btnSubmit" />
        </form>
    </div>
}
@section scripts
    {
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="~/webcamjs/webcam.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            Webcam.set({
                width: 320,
                height: 240,
                image_format: 'jpeg',
                jpeg_quality: 90
            });
            Webcam.attach('#webcam');
            $("#btnCapture").click(function () {
                Webcam.snap(function (data_uri) {
                    var data = new FormData();
                    data.append("data", data_uri);
                    $.ajax({
                        type: "POST",
                        url: "/DeleteUserdata/Verify",
                        data: data,
                        dataType: "json",
                        contentType: false,
                        processData: false,
                        success: function (response) {
                            switch (response.state) {
                                case 'close':
                                    document.getElementById("inputid").disabled = true;
                                    document.getElementById("btnSubmit").disabled = true;
                                    break;
                                case 'open':
                                    document.getElementById("inputid").disabled = false;
                                    document.getElementById("btnSubmit").disabled = false;
                                    break;
                                default:
                                    break;
                            }
                            document.getElementById("message").textContent = response.message;
                        },
                        Error: function (data) {
                            alert(data);
                        }
                    });
                });
            });
            $('#btnSubmit').click(function (e) {
                $(this).prop('hidden', true);
                document.getElementById("message2").textContent = "刪除中，請稍後";
            });
            //$('#myform').bind('invalid-form.validate', function () {
            //    $('#btnSubmit').prop('hidden', false);
            //        alert("false");
            //});
        });
    </script>
}